<div id="<%= dom_id question %>">
  <table>
    <tr>
      <th><strong>問題番号</strong></th>
      <td><%= question.q_code %></td>
    </tr>

    <tr>
      <th><strong>問題文</strong></th>
      <td><%= question.q_sent %></td>
    </tr>

    <tr>
      <th><strong>科目コード</strong></th>
      <td><%= question.subjet_code %></td>
    </tr>

    <tr>
      <th><strong>分野コード</strong></th>
      <td><%= question.f_code %></td>
    </tr>
  </table>

</div>
