<div id="<%= dom_id question %>">
  <p>
    <strong>Q code:</strong>
    <%= question.q_code %>
  </p>

  <p>
    <strong>Q sent:</strong>
    <%= question.q_sent %>
  </p>

  <p>
    <strong>Subjet code:</strong>
    <%= question.subjet_code %>
  </p>

  <p>
    <strong>F code:</strong>
    <%= question.f_code %>
  </p>

</div>
