<table>
  <% @record.each do |r| %>
      <tr>
        <td><%= r.date %></td>
        <td><%= Field.find(r.field_id).field__name %></td>
        <td><%= Result.where(record_id: r.id, user_answer: true).count %> / <%=Result.where(record_id: r.id).count %></td>
        <td><a href='/seiseki/<%= r.id %>'>詳細</a></td>
      </tr>
  <% end %>
</table>

<p><a href='/select'>メニュー</a></p>
