<div id="<%= dom_id choice %>">
  <p>
    <strong>C code:</strong>
    <%= choice.c_code %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= choice.choice %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= choice.answer %>
  </p>

  <p>
    <strong>Q code:</strong>
    <%= choice.q_code %>
  </p>

</div>
