<div id="<%= dom_id record %>">
  <p>
    <strong>User:</strong>
    <%= record.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= record.date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= record.subject_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= record.field_id %>
  </p>

</div>
