<div id="<%= dom_id record %>">
  <p>
    <strong>Rec code:</strong>
    <%= record.rec_code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= record.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= record.date %>
  </p>

  <p>
    <strong>Subject code:</strong>
    <%= record.subject_code %>
  </p>

  <p>
    <strong>F code:</strong>
    <%= record.f_code %>
  </p>

</div>
