<p><%= @msg %></p>

<%= form_with model: @fields do |f| %>
    <table>
        <tr>
            <th><%= f.label :subject_code, "科目コード" %></th>
            <td><%= f.text_field :subject_code %></td>
        </tr>
        <tr>
            <th><%= f.label :f_code,"分野コード" %></th>
            <td><%= f.text_field :f_code %></td>
        </tr>
        <tr>
            <th><%= f.label :f_name, "分野名" %></th>
            <td><%= f.text_area :f_name, size:30 %></td>
        </tr>
    </table>
    <%= f.submit "送信" %>
<% end %>
